@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.app{
  width: 45%;
  height: 100vh;
  margin: auto;
  margin-top: 0%;
  background: #00001a;
  font-family: 'Inter', sans-serif;
  color: white;
}

.info{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.info-text{
  text-align: center;
}

.img{
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
    border-radius: 5%;
    width: 40%;
}
